<p id="notice"><%= notice %></p>

<h1>Listing Pressures</h1>

  <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Systolic', 'Diastolic'],
          <% Pressure.all.each do |pressure| %>
          ['<%= pressure.taken_at %>', <%= pressure.systolic %>, <%= pressure.diastolic %>],
          <% end %>
          
          
        ]);

        var options = {
          title: 'Historic Pressures',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
    <div id="curve_chart" style="width: 900px; height: 200px"></div>

<table class="table">
  <thead>
    <tr>
      <th>Systolic</th>
      <th>Diastolic</th>
      <th>Taken at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pressures.each do |pressure| %>
      <tr>
        <td><%= pressure.systolic %></td>
        <td><%= pressure.diastolic %></td>
        <td><%= pressure.taken_at %></td>
        <td><%= link_to 'Show', pressure %></td>
        <td><%= link_to 'Edit', edit_pressure_path(pressure) %></td>
        <td><%= link_to 'Destroy', pressure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pressure', new_pressure_path %>
